<router-outlet></router-outlet>

<!--<tmk-datatable (init)="datatableInit($event)"></tmk-datatable>-->

<!--<div class="drag-container">-->
<!--  <div-->
<!--    class="test-square"-->
<!--    [tmkGrip]="draggable"-->
<!--    tmkGripBoundary="parent"-->
<!--    (tmkGripDragged)="move($event)"-->
<!--    [ngStyle]="{ left: xPos + 'px', top: yPos + 'px' }">-->
<!--  </div>-->
<!--</div>-->
<!--<button (touchstart)="draggable = !draggable" (click)="draggable = !draggable">-->
<!--  {{ draggable ? 'Draggable' : 'NOT draggable' }}-->
<!--</button>-->

<!--<div class="focus-test-div">-->
<!--  <tmk-focus-outline-->
<!--    >-->
<!--  </tmk-focus-outline>-->
<!--</div>-->
