<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    *matTreeNodeDef="let node">
    <div *ngIf="showExpandButton(node); else noExpandButton" matTreeNodeToggle
      class="expand-button" [style.paddingLeft]="nodeIndent(node)">
      <mat-icon>{{ treeControl.isExpanded(node) ? 'remove' : 'add' }}</mat-icon>
    </div>
    <ng-template #noExpandButton>
      <div [style.width]="nodeIndent(node)"></div>
    </ng-template>
    <div class="label">{{ node.label }}</div>
  </mat-tree-node>
</mat-tree>
