:host {
  display: block;
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-drawer-container {
  background-color: initial;
}

.mat-sidenav {
  width: 250px;
  border-right: 2px solid hsla(0, 0%, 0%, 0.1);

  [mat-list-item] {
    display: flex;
    place-items: center;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.5em;
    cursor: pointer;

    .mat-icon {
      display: flex;
      place-items: center;
      height: 100%;
      margin: 0 0.5em;
      font-size: 1.2em;
    }
  }
}
